<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Regenbogen Raumplan</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% block extrahead %}
    {% endblock %}

</head>
<body>

<nav class="navbar navbar-light bg-light mb-5">
    <a class="navbar-brand" href="{% url 'home' %}"><img
            src="https://image.jimcdn.com/app/cms/image/transf/none/path/s5d13bc1aae230101/image/ib7a4d19587448bc7/version/1542283832/image.png"
            height="30%" width="30%"> Raumplan</a>

    <div class="">
        <a class="btn btn-outline-success my-2 my-sm-0 mr-1" href="{% url 'create' %}">Neue Reservierung</a>
    </div>

    {% if request.path == '/' %}

        <form class="navbar">
            <div class="nav-item">
                <div class="mb-1">
                    {{ form.anfang }}
                </div>
                {{ form.ende }}
            </div>
            <div class="nav-item">
                <input type="submit" value="Anzeigen" class="btn btn-outline-primary m-1 ml-3">
            </div>
        </form>

    {% endif %}

    <div class="">
        {% if user.is_authenticated %}
            <a class="btn btn-secondary my-2 my-sm-0 mr-1" href="{% url 'logout' %}">Abmelden</a>
        {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0 mr-1" href="{% url 'register' %}">Register</a>
            <a class="btn btn-success my-2 my-sm-0" href="{% url 'login' %}">Login</a>
        {% endif %}

        {% if user.is_staff %}
            <a class="btn btn-danger my-2 my-sm-0" href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
    </div>
</nav>

{% block content %}
{% endblock %}

{% if request.path != "/" %}
    <div class="footer row">
    </div>
{% endif %}



{% block script %}
{% endblock %}
</body>

<style>
    .footer {
        margin-top: 300px;
    }
</style>
</html>